.my-nav {
width: 100%;
}

.my-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin:0;
}

.my-navbar-brand{
    font-family: 'Righteous', cursive;
    font-size: 30px;
}

.my-nav-item{
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-toggler{
    color: $secondary;
    font-size: 30px;
    background-color: transparent;
    border: 0;
        &:hover{
        background-color: transparent;
        }
        &:focus{
            color: $primary;
            background-color: transparent;
            }
}

.my-nav-link{
    color: white;
    width: 130px;
    margin: 20px 20px 20px 5px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background-color: $secondary;
}


//@media (min-width: 1px) and (min-width: 550px) {

    

//-----------------------------------------------------
@media screen and (min-width: 764px) {
    .my-toggler{
        display: none;
    }

    .my-nav{
        background-color: rgba(255, 0, 0, 0.185);
        height: 100px;
        border-bottom-right-radius: 150px 150px;
    }

    .my-container{
        margin:0 30px 0 30px;
    }

    .my-nav-link{
        color: white;
        width: 130px;
        margin: 20px 20px 20px 5px;
        border-radius: 10px;
        padding: 15px 20px 15px 20px;
        background-color: $secondary;
    }
}