/*----------------------------------------------modificabili a parere popolare*/

.enlight{color: $secondary}


.errorDiv{
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px 0 20px 0;
    border: 2px solid $secondary;
    background-color: white;
    color: $secondary;
    text-align: center;

}

a:hover{
    color: $tertiary;
    text-decoration: none;
}
button:hover {
    background-color: $primary;
}


h1, p, h3, h6{ color: $main-text}
h1{font-family: 'Lilita One';}
*{font-family: 'Poppins', sans-serif;}


/*bottone indietro,
icona usata da me -> <i class="fas fa-backspace"> */

.back-bttn {
    color: $secondary;
    
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

/*bottone base*/
.my-button {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;

    border-radius: 30px;
    margin: 30px;
    border:0;

    color: $falsewhite;
    background-color: $secondary;
    z-index: 3;
 }

 /*ombre bottoni (vedi nell'order create)*/
 .my-bttns {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.39);
}





