* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

.tertiary {
    color: $tertiary;
}

.payoff {
    top: 150%;
}

.one, .two, .three {
    font-size: x-large;
}

.inline-block {
    display: inline-block;
}

.radius {
    border-radius: 50%;
}

.bottom-50 {
    margin-bottom: 50px;
}

.lastul li {
    padding: 5px 0;
}

.decnone {
    text-decoration: none;
}

.m-top-20 {
    margin-top: 20px;
}

.inline-block {
    display: inline-block;
}

.appstore {
    height: 30px;
    width: 60px;
}

.container {
    width: 100vw;
    height: 100%;
}

.full {
    width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.evenly {
    justify-content: space-evenly;
}

.text-center {
    display: inline-block;
    text-align: center;
}

.ordering {
    width: 100%;
}

.img-second {
    width: 100px;
    height: 150px;
}

.img-box {
    width: 100%;
    height: 100%;
}

.between {
    justify-content: space-between;
}

.white {
    color: white;
    justify-content: space-between;
}

.lilbox {
    display: inline-block;
    margin-top: 10px;
    width: 100px;
    height: 35px;
    border: 2px solid white;
    border-radius: 5px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.box-img {
    width: 100%;
    height: 100%;
}

@media (min-width: 577px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .payoff {
        .one, .two, .three {
        font-size: 11px;
        }
    }
}

