//fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'cart';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



@import url('https:///fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;800&display=swap');

//font-family: 'Poppins', sans-serif;
/*Extra-light 200
Light 300
Regular 400
Extra-bold 800*/


//grassetto con 'grazie'
@import url('https:///fonts.googleapis.com/css2?family=Lilita+One&display=swap');
//    font-family: 'Lilita One', cursive;

.enlight{color: $secondary}

// a:hover {
//     color: $tertiary;
//     text-decoration: none;
// };


// appena funziona creo is scss folder
  
    nav{
        background-color: $primary;
    }
    .navbar-light .navbar-nav .bg_style:hover, .navbar-light .navbar-nav .nav-link:focus {
        color: red ;
        font-size: 16px;
        transition: 0.7s;
    }
    .navbar-light .bg_style:hover, .navbar-light .navbar-brand:focus {
        color: $tertiary ;
    }
    
    
    body{
            .img_bg_style_register{
              
                background-image: url("public/img/background_log_reg.jpg");
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: fixed;
                background-color: #2e2d2d;
                background-size: cover;
            }
        
    }
    
   
    @media only screen and (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
        body {
            .img_bg_style_register,.img_bg_style_login{
                height: 100%; 
            } 
            .img_bg_style_home{
                height: 100vh;
               
            }
         
        }
    }
    @media only screen and (min-width:577px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
        body {
            .img_bg_style_register{
                height: 100%;
               
            }
            .img_bg_style_home{
                height: 100vh;
               
            }
        }
    }
    @media only screen and (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
        
    }



        


    
