.orders-part {
    .my-container-flex {
        display: flex;
        &.flex-between {
            justify-content: space-between;
        }
    }
    .my-link-container {
        padding-bottom: 1.5rem;
    }
    .fas {
        width: 5%;
        height: 100%;
        font-size: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    th {
        color: $secondary;
    }
    h1 {
        font-family: 'Lilita One', cursive;
        color: $main-text;
    }
}
.chart-container {
    position: relative;
    max-width: 992px;
    margin: auto;
}
.center {
    text-align: center;
}

@media screen and (min-width: 992px) {
}

