#payment-form {
    .form-group {
        label {
            color: $main-text;
            font-weight: bold;
        }
    }
    h4 {
        color: $main-text;
    }
    th {
        color: $secondary;
    }
    .fas {
        color: $secondary;
        width: 5%;
        height: 100%;
        font-size: 40px;
        padding-left: 10px;
        padding-right: 10px;
        &:hover {
            color: $primary;
            text-decoration: none;
            transition: 0.2s;
        }
    }
    .my-container-flex {
        display: flex;
        &.flex-between {
            justify-content: space-between;
            .my-submit-btn {
                font-weight: bold;
                background-color: $secondary;
                color: $falsewhite;
                &:hover {
                    background-color: #d86001;
                    color: $falsewhite;
                }        
            }    
        }   
    }
    
    .my-link-container {
        padding-bottom: 1.5rem;
    }
}

.btn.my-submit-button {
    font-weight: bold;
    background-color: $secondary;
    color: $falsewhite;
    &:hover {
        background-color: #d86001;
        color: $falsewhite;
    }
}


.class-thumb-up{
    font-size: 300px;
    color: white;
}

.successful {
    min-height: 100vh;
    background-color: $red;
    display: flex;
    flex-direction: column;
    .filler {
        flex-grow: 1;
    }
    & > * {
        margin: 20px auto;
    }
    a {
        background-color: $falsewhite;
        color: red;
        font-weight: 600;
        padding: 10px;
        border-radius: 10px;
    }
    & h3{
        color:white;
        font-family: 'Poppins', sans-serif;
    }
    & h1{
        font-family: 'Lilita One', cursive;
        color: $falsewhite;
    }

}
