.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 3.5rem;
    }
    .filter-button-container {
        margin: 0 10px;
    }

    .hero{
        height: 400px;
        width: 100%;
        padding-top: 100px;
        background-color: yellowgreen;
    }

    .filter-btn{
        color: white;
        font-weight: 600;
        padding: 10px 15px;
    }

    .my-btn-secondary {
        color: #fff;
        background-color: $primary;
    }

    .my-btn-secondary:not(:disabled):not(.disabled):active, .my-btn-secondary:not(:disabled):not(.disabled).active, .show > .my-btn-secondary.dropdown-toggle {
        color: #fff;
        background-color: $secondary;
    }


    .restaurant-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1280px;
        margin: auto;
        min-height: calc(100vh - 400px); //mantiene il footer giù

        .restaurant-card {
            display: flex;
            flex-direction: column;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.39);
            border-radius: 10px;
            min-width: 250px;
          
            margin: 10px;
            padding: 10px;

            .my-icon{
                width: 36px;
                text-align: center;
                font-size: 25px;
            }

            .type-container {
                width: 100%;
                height: 20%;
                min-height: 37px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .type-item {
                    display: flex;
                    align-items: center;
                    padding: 0 5px;
                    font-size: small;
                    font-weight: bold;
                    color: $secondary;
                      & .fa-circle{
                          font-size: 7px;
                          margin-right: 5px;
                      }
                }
                .mini-types{
                    display: flex;
                }
            }
            .img-container {
                width: 80%;
                height: 100%;
                align-self: center;
                flex-grow: 1;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .name-container {
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
                height: 20%;

                & h5 {
                    margin-top: 10px;
                    color: $main-text;
                    font-family: "Lilita One", cursive;
                }
            }
        }
    }
    .pb-container {
        display: flex;
        justify-content: center;
        margin: 10px 0;
        button {
            text-align: center;
            padding: 10px 15px;
            background-color: $red;
            color: $falsewhite;
            margin: 5px;
            border-radius: 5px;
        }
    }
    footer {
        background-color: #2e3333;
        width: 100%;
        .container {
            margin: 30px auto;
            .my-container-flex {
                display: flex;
            }
            .section {
                background-color: #434848;
                width: calc(100% / 4);
                margin-right: 20px;
                color: $falsewhite;
                border-radius: 5px;
                &:last-child {
                    margin-right: 0;
                }
                h5 {
                    margin: 20px;
                    color: $falsewhite;
                    font-family: "Lilita One", cursive;
                }
                ul {
                    list-style: none;
                    padding-left: 20px;
                    li {
                        margin: 5px 0;
                        a {
                            color: $falsewhite;
                            &:hover {
                                color: gray;
                            }
                            img {
                                width: 100px;
                                border: 1px solid $falsewhite;
                                border-radius: 2px;
                            }
                        }
                    }
                }
            }
            .bottom-banner {
                justify-content: space-between;
                margin-top: 30px;
                .logos-container {
                    a {
                        color: $falsewhite;
                        margin-right: 20px;
                        i {
                            font-size: 20px;
                        }
                        &:hover {
                            color: gray;
                        }
                    }
                }
                span {
                    color: $falsewhite;
                }
            }
            @media screen and (max-width: 767px) {
                .section-container {
                    flex-direction: column;
                    justify-content: center;
                    .section {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 20px;
                        text-align: center;
                        ul {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}

